/*
* $Revision$
* $Date$ 
*/
html
{
	overflow: hidden;
}

body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	color: #000000;
	line-height: normal;
}

body, a, input, div, span, li, td, p, span.footerText, .resultTable
{
	font-family: "Helvetica";
    font-weight: lighter;
}

table, tr, td, th
{
    border: none;
}

td
{
    vertical-align: top;
}

.container
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background: url(../images/wvc-checkin-bg.jpg) no-repeat;
}

.initView
{
	width: 100% !important;
	height: 100% !important;
	min-height: 700px;
}

    #divPanicButton
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
        z-index: 3;
    }
    
    .networkWarning
    {
    	background-color: #EEEE00;
    	left: 10px;
		background: url(../images/network_warning.png) no-repeat;
    }

div.heading
{
	border: none;
	text-align: center;
	padding: 125px 10px 10px;
}

.view > .content
{
    text-align: center;
}

div.footer
{
	width: 100%;
	height: auto;
	min-height: 118px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	
}

.invis
{
	display: none;
}

.footerText
{
	color: #FFF;
	font-size: 32pt;
	display: block;
	margin: 40px 0 0 20px;
	line-height: normal;
}
    
.divScanNow
{
    float: left;
    /*height: 100px;*/
}
    
.divScanBox
{
    width: 1px;
    float: left;
}
    
.footerWide > .countdown
{
    display: block;
    text-align: left;
}

.footerCaption
{
	color: #FFFFFF;
	font-size: 24pt;
	display: block;
	margin: 40px 0 0 20px;
    padding-bottom: 25px;
}

.footerError
{
	text-decoration: underline;
	color: #FFFFFF;
	font-size: 32pt;
	display: block;
	margin: 40px 0 0 20px;
    padding-bottom: 25px;
}

.footerLeft
{
	float: left;
	width: 49%;
	height: 100%;
	text-align: left;
}

.footerRight
{
	float: right;
	width: 49%;
	height: 100%;
	text-align: right;
}

.footerWide
{
	height: 100%;
	text-align: center;
	background:url("../images/footerBg.png");
}

    #divRightFooter .searchButton
    {
        vertical-align: middle;
    }

#divTimer
{
    text-align: left;
}

.checkinText
{
	font-size: 24pt;
	color: #000;
}

h3.checkinText
{
	border: medium none;
    font-size: 18pt;
    font-weight: lighter;
}

.confirmText
{
	font-size: 28pt;
}

.classroomText
{
	font-weight:normal;
}

.errorText
{
	font-size: 36pt;
	color: #000;
	margin: 20px;
	padding: 20px 0px;
	display: block;
}

.checkinCaption
{
	font-size: 18pt;
	color: #444444;
	border: none;
}

.errorCaption
{
	font-size: 18pt;
	color: #CC0000;
	border: none;
}

.phone-search 
{
    margin: auto;
}

    #keypad
    {
        border-collapse: collapse;
    	height: 302px;
    	padding: 0;
    	width: 315px;
    }

        #keypad td
        {
            text-align: center;
        }

.phoneError
{
    font-size: 24pt;
	color: #CC0000;
	border: none;
}

.phoneSearching
{
    font-size: 24pt;
	color: #1B4472;
	border: none;
}

.confirmError
{
	font-size: 36pt;
	color: #CC0000;
}

.phonePanel
{
	margin: auto;
    text-align: center;
}

.phoneButton
{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: default;
    font-size: 32pt;
    height: 74px;
    padding-right: 4px;
    text-align: center;
    width: 103px;
}

.scrollArea
{
	height: 300px;
	width: 550px;
	overflow: auto;
	text-align: left;
	margin:auto;
	
}

.scrollAreaBig, .resultScrollArea
{
	height: 420px;
	/*width: 1000px !important;*/
	overflow: auto;
	text-align: left;
}

.scrollAreaBig
{
    padding-left: 20px;
}

.resultScrollArea
{
	height: 420px;
	overflow: auto;
	text-align: left;
}

.family-search-controls
{
    width: 100%;
}

    .family-search-controls .controls
    {
        width: 100%;
    }

        .controls > #phone-textbox
        {
            margin: auto auto 10px;
    		width: 278px;
        }
    
        .controls > #phone-search-button
        {
            width: 212px;
            float: left;
            margin-left: 15px;
        }

.family-member
{
    width: 340px;
}

    .family-member-button
    {
        background: url("../images/name-background.png") no-repeat scroll 0 0 transparent;
    	float: left;
    	height: 67px;
    	text-align: left;
    	width: 237px;
    }
    
    .family-member-checkbox
    {
        float: left;
    	height: 45px;
   		width: 45px;
    }

.dataButton
{
	background: none;
	border: medium none;
    color: #FFFFFF;
    font-size: 18pt;
    height: 67px;
    margin-right: 50px;
    width: 237px;
}

#phone-search-button .dataButton
{
	background: url("../images/next-button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 0;
    height: 62px;
    margin-right: 50px;
    width: 126px;
}

.dataButtonInactive
{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #AAAAAA;
    font-size: 18pt;
    height: 67px;
    width: 237px;
}

.dataButtonSelected
{
	background: url("../images/name-selected.png") no-repeat scroll 4px 3px transparent;
	border: medium none;
    color: #FFFFFF;
    font-size: 18pt;
    height: 67px;
    margin-right: 50px;
    width: 237px;
}

.nameButton
{
	background: url("../images/name-background.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 14pt;
    height: 67px;
    padding-left: 15px;
    padding-right: 15px;
    width: 237px;
}

.nextButton
{
	background: url("../images/next-button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 0;
    height: 62px;
    margin-right: 50px;
    width: 126px;
}

.nextButtonInactive
{
	background: url("../images/next-button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 0;
    height: 62px;
    margin-right: 50px;
    width: 126px;
}

.phoneSearch
{
	font-size: 28pt;
	background: url(../images/phone_search3.png) no-repeat;
	width: 212px;
	height: 75px;
	border: none;
	padding-right: 30px;
	padding-bottom: 7px;
	cursor: default;
	text-align: center;
}

input.phoneText
{
	background: url("../images/phone-box.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #404041;
    font-size: 18pt;
    height: 32px;
    text-align: center;
    width: 278px;
	
}

.cancelButton
{
	background: url("../images/back-button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: default;
    font-size: 0;
    height: 62px;
    margin-left: 50px;
    text-align: center;
    width: 126px;
}

.searchButton
{
	background: url("../images/signInButton.png") no-repeat scroll 155px 0 transparent;
    border: medium none;
    cursor: default;
    font-size: 0pt;
    height: 118px;
    width: 420px;
	
}

.dataStar
{
	margin: 20px 30px 0px 10px;
}

.item
{
    height: 90px;
    position: relative;
}

    .item .star
    {
	    display: block;
	    height: 40px;
	    width: 40px;
	    position: absolute;
	    right: 28px;
	    top: 20px;
    }

.resultTable
{
	font-size: 28pt;
}

table.resultTable
{
	border: none;
	margin: 0px auto;
}

td.resultTable
{
	text-align: left;
	padding: 0px 0px 10px 20px;
}

.success
{
	font-size: 28pt;
	color: green;
}

td.success
{
	height: 48px;
	width: 48px;
	background: none;
}

.fail
{
	font-size: 28pt;
	color: #FFFFFF;
}

td.fail
{
	background-color: #CC0000;
	padding-left: 10px;
	color: #ffffff;
}


/* Used to center stuff (bug #345) */
.centeredList
{
    margin: 0px auto;
}

.ajaxProgress
{
	margin: 0px 0px 0px auto;
}

.ajaxLargeProgress
{
    padding: 0px;
	opacity:.50;
	filter: alpha(opacity=50); 
	-moz-opacity: 0.5;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	background: #000 url(../images/big_roller.gif) no-repeat;
	background-position: 50%;
	z-index: 5;
}

.jspVerticalBar
{
    right: 20px;
}

#keypad tbody
{
	background:url(../images/key-row.png) repeat-y;
}

.rule
{
	background: url("../images/line.png") no-repeat scroll 0 0 transparent;
    height: 2px;
    margin: 20px auto 10px;
    width: 430px;
}

.jspPane 
{
	text-align:center;	
}

.noEligiblePeople
{
	padding-top:125px;	
}