/*
* $Revision$
* $Date$ 
*/
html
{
	overflow: hidden;
}

body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	color: #000000;
	line-height: normal;
}

body, a, input, div, span, li, td, p, span.footerText, .resultTable
{
	font-family: "Cooper Black", "Cooper Black BT", "Arial Rounded MT Bold";
}

table, tr, td, th
{
    border: none;
}

td
{
    vertical-align: top;
}

.container
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background: url(../images/checkin_bg.png) no-repeat;
}

.initView
{
	width: 100% !important;
	height: 100% !important;
	min-height: 700px;
}

    #divPanicButton
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
        z-index: 3;
    }
    
    .networkWarning
    {
    	background-color: #EEEE00;
    	left: 10px;
		background: url(../images/network_warning.png) no-repeat;
    }

div.heading
{
	border: none;
	text-align: center;
	padding: 20px 10px 10px 10px;
}

.view > .content
{
    text-align: center;
}

div.footer
{
	background: url(../images/footer_bg.png) no-repeat;
	width: 100%;
	height: auto;
	min-height: 118px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.invis
{
	display: none;
}

.footerText
{
	color: #FFFFFF;
	font-size: 32pt;
	display: block;
	margin: 40px 0 0 20px;
	line-height: normal;
}
    
.divScanNow
{
    float: left;
    /*height: 100px;*/
}
    
.divScanBox
{
    width: 1px;
    float: left;
}
    
.footerWide > .countdown
{
    display: block;
    text-align: left;
}

.footerCaption
{
	color: #FFFFFF;
	font-size: 24pt;
	display: block;
	margin: 40px 0 0 20px;
    padding-bottom: 25px;
}

.footerError
{
	text-decoration: underline;
	color: #FFFFFF;
	font-size: 32pt;
	display: block;
	margin: 40px 0 0 20px;
    padding-bottom: 25px;
}

.footerLeft
{
	float: left;
	width: 49%;
	height: 100%;
	text-align: left;
}

.footerRight
{
	float: right;
	width: 49%;
	height: 100%;
	text-align: right;
}

.footerWide
{
	height: 100%;
	text-align: center;
}

    #divRightFooter .searchButton
    {
        vertical-align: middle;
    }

#divTimer
{
    text-align: left;
}

.checkinText
{
	font-size: 36pt;
	color: #000;
}

h3.checkinText
{
	font-size: 48pt;
	border: none;
}

.confirmText
{
	font-size: 28pt;
}

.classroomText
{
	font-size: 28pt;
	color: #009900;
	filter: Shadow(Color=#000000, Direction=135, Strength=5);
}

.errorText
{
	font-size: 36pt;
	color: #CC0000;
	margin: 20px;
	padding: 20px 0px;
	display: block;
}

.checkinCaption
{
	font-size: 24pt;
	color: #444444;
	border: none;
}

.errorCaption
{
	font-size: 18pt;
	color: #CC0000;
	border: none;
}

.phone-search 
{
    margin-top: 20px;
}

    #keypad
    {
        height: 302px; 
        width: 286px; 
        padding: 2px;
    }

        #keypad td
        {
            text-align: center;
        }

.phoneError
{
    font-size: 24pt;
	color: #CC0000;
	border: none;
}

.phoneSearching
{
    font-size: 24pt;
	color: #1B4472;
	border: none;
}

.confirmError
{
	font-size: 36pt;
	color: #CC0000;
}

.phonePanel
{
	overflow: auto;
	text-align: center; 
	padding-top: 10px; 
	margin-left: 40px;
}

.phoneButton
{
	background: url(../images/phone_button.png) no-repeat;
	border: none;
	font-size: 32pt;
	color: #FFFFFF;
	height: 77px;
	width: 95px;
	cursor: default;
	text-align: center;
	padding: 5px;
}

.scrollArea
{
	height: 300px;
	width: 550px;
	overflow: auto;
	text-align: left;
	
}

.scrollAreaBig, .resultScrollArea
{
	height: 420px;
	/*width: 1000px !important;*/
	overflow: auto;
	text-align: left;
}

.scrollAreaBig
{
    padding-left: 20px;
}

.resultScrollArea
{
	height: 420px;
	overflow: auto;
	text-align: left;
}

.family-search-controls
{
    width: 100%;
}

    .family-search-controls .controls
    {
        width: 100%;
    }

        .controls > #phone-textbox
        {
            width: 334px; 
            float: left;
        }
    
        .controls > #phone-search-button
        {
            width: 212px;
            float: left;
            margin-left: 15px;
        }

.family-member
{
    width: 338px;
}

    .family-member-button
    {
        width: 263px;
        height: 91px;
        text-align: left;
        float: left;
    }
    
    .family-member-checkbox
    {
        width: 75px;
        height: 47px;
        float: left;
    }

.dataButton
{
	color: #FFFFFF;
	font-size: 28pt;
	background: url(../images/button_active.png) no-repeat;
	border: none;
	width: 263px;
	height: 91px;
}

.dataButtonInactive
{
	color: #FFFFFF;
	font-size: 28pt;
	background: url(../images/button_inactive.png) no-repeat;
	border: none;
	width: 263px;
	height: 91px;
}

.dataButtonSelected
{
	color: #FFFFFF;
	font-size: 28pt;
	background: url(../images/button_selected.png) no-repeat;
	border: none;
	width: 263px;
	height: 91px;
}

.nameButton
{
	color: #FFFFFF;
	font-size: 20pt;
	background: url(../images/name_button.png) no-repeat;
	border: none;
	width: 350px;
	height: 91px;
	padding-left: 15px;
	padding-right: 15px;
}

.nextButton
{
	font-size: 30pt;
	background: url(../images/next_button5.png) no-repeat;
	border: none;
	width: 216px;
	height: 118px;
	padding-right: 30px;
	margin-right: 50px;
	text-align: center;
	cursor: default;
}

.nextButtonInactive
{
	color: #444444;
	font-size: 30pt;
	background: url(../images/next_button4.png) no-repeat;
	border: none;
	width: 216px;
	height: 118px;
	padding-right: 30px;
	margin-right: 50px;
	text-align: center;
	cursor: default;
}

.phoneSearch
{
	font-size: 28pt;
	background: url(../images/phone_search3.png) no-repeat;
	width: 212px;
	height: 75px;
	border: none;
	padding-right: 30px;
	padding-bottom: 7px;
	cursor: default;
	text-align: center;
}

input.phoneText
{
	font-size: 30pt;
	background: url(../images/text_box.png) no-repeat;
	border: none;
	height: 75px;
	width: 334px;
	padding: 10px 0 0 70px;
	
}

.cancelButton
{
	font-size: 30pt;
	background: url(../images/cancel_button.png) no-repeat;
	margin-left: 50px;
	border: none;
	height: 118px;
	width: 177px;
	cursor: default;
	text-align: center;
}

.searchButton
{
	font-size: 32pt;
	margin-right: 20px;
	background: url(../images/search_button.png);
	border: none;
	width: 420px;
	height: 118px;
	padding-top: 7px;
	cursor: default;
	text-align: center;
	padding-top: 20px;
	
}

.dataStar
{
	margin: 20px 30px 0px 10px;
}

.item
{
    height: 90px;
    position: relative;
}

    .item .star
    {
	    display: block;
	    height: 40px;
	    width: 40px;
	    position: absolute;
	    right: 28px;
	    top: 20px;
    }

.resultTable
{
	font-size: 28pt;
}

table.resultTable
{
	border: none;
	margin: 0px auto;
}

td.resultTable
{
	text-align: left;
	padding: 0px 0px 10px 20px;
}

.success
{
	font-size: 28pt;
	color: green;
}

td.success
{
	height: 48px;
	width: 48px;
	background: url(../images/checkmark.png) no-repeat;
}

.fail
{
	font-size: 28pt;
	color: #FFFFFF;
}

td.fail
{
	background-color: #CC0000;
	padding-left: 10px;
	color: #ffffff;
}


/* Used to center stuff (bug #345) */
.centeredList
{
    margin: 0px auto;
}

.ajaxProgress
{
	margin: 0px 0px 0px auto;
}

.ajaxLargeProgress
{
    padding: 0px;
	opacity:.50;
	filter: alpha(opacity=50); 
	-moz-opacity: 0.5;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	background: #000 url(../images/big_roller.gif) no-repeat;
	background-position: 50%;
	z-index: 5;
}

.jspVerticalBar
{
    right: 20px;
}